@import url('https://kit.fontawesome.com/c3b8526650.js');

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(250, 250, 250);
}

a {
  text-decoration: none;
  font-weight: bold;
}

.container {
  width: 850px;
  margin: 0 auto;
}

#image {
  width: 260px;
  border-radius: 5%;
}

div {
  border: 50px, solid, white;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  padding: 15px;
  border-radius: 10px;
}

.btn {
  color: white;
  background-color: rgba(40, 90, 45, 80);
  padding: 8px 20px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.btn:hover {
  color: rgb(250, 250, 250);
  background-color: rgba(70, 70, 145, 80) ;
}

.social-list {
  list-style: none;
  padding: 0;
}

.social-list li {
  display: inline-block;
}

.social {
  color: grey;
  font-size: 30px;
  padding: 8px 4px;
  font-color: rgb(220, 220, 220);
}

.social:hover {
  color: rgb(220, 220, 220);
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
